@import '../../../assets/styles/fonts';
@import '../../../assets/styles/variables';

.login-header-logo{
    width: 256px;
display: flex;
flex-shrink: 0;
margin-top: 2em;
margin-left: 1em;
}


.info_rpc_container{
    display: flex;
    flex-direction: column;
    

       span{
        color: #7606FF;
       }
     }
     .info_rpc_container p{
        color: #242424;
        font-family: lato-bold;
       color: #242424;
        font-size: 12.5px;
        font-style: normal;

        line-height: 12px; /* 100% */
        
       }

.info_rpc_cantidad{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
margin-left: -1.5em;
.img_coin{
    width: 30px;
height: 30px;
    flex-shrink: 0;
}

}
.info_rpc_cantidad h5{
  font-family:  lato-bold;
    font-size: 20.19px;
    font-style: normal;
    font-weight: 800;
    line-height: 29.023px;
    margin-top: 0.5em;
}



