.item-infinite-scroll-container {
    border-bottom: 1px solid #ededed;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1px;
  height: 100%;
    .item-infinite-scroll-header {
      display: flex;
      height: 100%;
      width: 60em;
      .item-infinite-scroll-info {
        width: 100%;
        display: flex;
       justify-content: space-evenly;
        padding: 24px;
        height: 100%;
  
        p {
          font-family: Inter;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #828282;
          padding: 8px 0;
  
          strong {
            color: #5B5B5B;
            font-family: Lato;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; 
          }
        }

        span {
          color: #B6B4B4;

font-feature-settings: 'clig' off, 'liga' off;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 100% */
          }
      }
    }

    .containerbtn-lecciones{
        width: 25em;
       
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 5em;
        background: white;
        text-decoration: none;
    

        .item-title-{
            padding-top: 0.4em;
            text-decoration: none;
            text-align: center;
            font-size: 14px;
            font-family: Lato; 
            width: 8em;
            height: 2.4em; 
            background: #ffffff; 
            border-radius:  24px;
            background: #F4ECFE; 
        }
      
        .item-title{
            padding-top: 0.3em;
            text-decoration: none;
            text-align: center;
            font-size: 14px;
            font-family: Lato; 
            width: 8em;
            height: 2.4em; 
            background: #ffffff; 
            border-radius:  24px;
            border: solid #7908FF 0.1em 
        }
      
        a{
            color:#7908FF; 
            text-decoration: none;
        }
    }
  }
  
